﻿@model IEnumerable<Business.DomainModel.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Restaurant name</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td>@Html.DisplayFor(modelItem => item.PhoneNumberText)</td>
        <td>@Html.ActionLink("Edit", "Edit", "Restaurant", new { id = item.Id }, new {})</td>
    </tr>
    }

    </tbody>
</table>
    